<div class="container">
	<h4><i class="far fa-file-alt"></i> Assessment Periods</h4>
	<br/>
	<br/>
	<div class="card">
			<div class="card-body">
				<%= render "shared/error_messages", resource: @assessment %>
				<h5>Create Assessment Period:</h5>
				<br/>
				<%= form_for @assessment, url: assessments_path, html: {class: "form-inline"} do |f| %>
					<div class="form-group mb-2 ">
            <%= f.label "Semester starting:" , class: "mx-sm-3"%><br />
            <%# TODO - Move intake functions to general helper %>
            <%= f.select :semester_month, Student.intake_months.keys.to_a, class: "form-control" %>
            <%= f.select :semester_year, Student.get_intake_year_options, class: "form-control" %>
          </div>
					 <%= button_tag(:class => "btn btn-primary btn-sm mx-sm-3 mb-2") do %>
						<i class='fas fa-plus'></i> Create
					<% end %>
				<% end %>
		</div>
	</div>
	<br/>
	<table class="table table-bordered table-responsive-sm table-sm col-sm-6">
		<thead class="thead-light">
			<th>Semester starting:</th>
			<th>Status</th>
			<th></th>
		</thead>
		<tbody>
			<% @assessments.each do |assessment| %>
				<tr>
					<td><%= assessment.full_semester_name%></td>
					<td>
					<% if assessment.open?%> 
						<span class="badge badge-success">
					<%else%>
						<span class="badge badge-warning">
					<%end%>
						<%= assessment.status%>
						</span>
					</td>
					<td>
					<%if assessment.open?%>
							<%= link_to assessment_path(assessment), 
								method: :patch, 
								data: { 
								confirm_swal:
								 "Are you sure you want to close assessment period - #{assessment.full_semester_name} ?"
								}, 
								
								:class => "btn btn-sm btn-outline-warning mx-sm-2" do %>
								<i class='far fa-times-circle'></i> Close
							<% end %>
					<%else%>
							<%= link_to assessment_path(assessment), 
								method: :patch, 
								data: { 
									confirm_swal:
									"Are you sure you want to open assessment period - #{assessment.full_semester_name} ?"
								}, 
								:class => "btn btn-sm btn-outline-success mx-sm-2" do %>
								<i class='far fa-folder-open'></i> Open
							<% end %>
					<%end%>
						<%= link_to assessment_path(assessment), 
							method: :delete,
							data: { 
								confirm_swal:
								 "Are you sure you want to delete assessment period - #{assessment.full_semester_name} ?"
							},  
							:class => "btn btn-sm btn-outline-danger" do %>
								<i class='far fa-trash-alt'></i> Delete
							<% end %>
					</td>
				</tr>
			<% end%>
		<tbody>
	<table>
	<div class="digg_pagination">
		<%= will_paginate @assessments %>
	</div>
</div>