<div class="container">
	<h4>Assessment Periods</h4>
	<br/>
	<br/>
	<div class="card">
			<div class="card-body">
				<%= render "shared/error_messages", resource: @assessment %>
				<h6>Create Assessment Period</h6>
				<br/>
				<%= form_for @assessment, url: assessments_path, html: {class: "form-inline"} do |f| %>
					<div class="form-group mb-2 ">
            <%= f.label "Semester starting:" , class: "mx-sm-3"%><br />
            <%# TODO - Move intake functions to general helper %>
            <%= f.select :semester_month, Student.intake_months.keys.to_a, class: "form-control" %>
            <%= f.select :semester_year, Student.get_intake_year_options, class: "form-control" %>
          </div>
					<%= f.submit "Create", class: "btn btn-primary mx-sm-3 mb-2 btn-sm"%>
				<% end %>
		</div>
	</div>
	<br/>
	<table class="table table-bordered table-responsive-sm table-sm col-sm-6">
		<thead class="thead-light">
			<th>Semester starting</th>
			<th>Status</th>
			<th></th>
		</thead>
		<tbody>
			<% @assessments.each do |assessment| %>
				<tr>
					<td><%= assessment.full_semester_name%></td>
					<td>
					<% if assessment.open?%> 
						<span class="badge badge-success">
					<%else%>
						<span class="badge badge-warning">
					<%end%>
						<%= assessment.status%>
						</span>
					</td>
					<td>
					<%if assessment.open?%>
							<%= link_to "Close", assessment_path(assessment), 
								method: :patch, :class => "btn btn-sm btn-outline-warning mx-sm-2" %>
					<%else%>
							<%= link_to "Open", assessment_path(assessment), 
								method: :patch, :class => "btn btn-sm btn-outline-success mx-sm-2" %>
					<%end%>
						<%= link_to "Remove", assessment_path(assessment), 
							method: :delete,
							data: { 
								confirm_swal:
								 "Are you sure you want to delete assessment period - #{assessment.full_semester_name} ?"
							},  
							:class => "btn btn-sm btn-outline-danger" %>
					</td>
				</tr>
			<% end%>
		<tbody>
	<table>
</div>