<div class="container">
	<h4><i class="far fa-file-alt"></i> View Assessment Results</h4>
  <br/>
  <div class="card">
    <div class="card-body">
  	<%= form_for :search, url: results_path, method: :get, html: {class: "form-inline"} do |f| %>
        <div class="form-group mx-sm-3">
          <%= collection_select(
            :search, :course_id, @courses, :id, :full_course_name, 
            {:prompt => "Select Course", :selected=> @params.present? ? @params[:course_id] : ""})%>
        </div>
        <div class="form-group mx-sm-3">
          <%= f.select :unit_id, [], :selected=> @params.present? ?  @params[:unit_id] : "", class: "form-control", :include_blank => true %>
        </div>
        <div class="form-group mx-sm-3">
          <%= collection_select(:search, :assessment_id, @assessments, :id, :full_semester_name, {:prompt => "Select Assessment", :selected=> @params.present? ? @params[:assessment_id] : ""}) %>
        </div>
      <br/>
        <%= button_tag(:class => "btn btn-primary mx-sm-3 ") do %>
          <i class='fas fa-search'></i> Search
        <% end %>
		<% end %>
  </div>
  </div>
  <br/>
  <table class="table table-bordered table-responsive-sm table-sm">
    <thead class="thead-light">
      <th>Admission No.</th>
      <th>Full Name</th>
      <th>Attendance</th>
      <th>Assignments</th>
      <th>CAT Practical</th>
      <th>CAT Theory</th>
      <th>Final Practical</th>
      <th>Final Theory</th>
      <th>Assessment</th>
    </thead>
    <tbody>
      <% if @results.empty? %>
        <span style="color: red">
          No Results Found.
        </span>
      <%else%>
        <% @results.each do |result| %>
          <tr>
            <td><%= result.student.admission_no%></td>
            <td><%= result.student.full_name%></td>
            <td><%= result.attendance %></td>
            <td><%= result.assignments %></td>
            <td><%= result.cat_practical %></td>
            <td><%= result.cat_theory  %></td>
            <td><%= result.final_practical %></td>    
            <td><%= result.final_theory %></td>  
            <td>
              <% if result.final_assessment %> 
                <% if result.competent? %> 
                  <span class="badge badge-success">
                <%else%>
                  <span class="badge badge-warning">
                <%end%>
                    <b><%= result.final_assessment.humanize %></b>
                  </span>
              <%end%>
            </td>  
          </tr>
        <%end%>
      <%end%>
    </tbody>
  </table>
  <div class="digg_pagination">
    <%= will_paginate @results %>
  </div>
</div>