<div class="container">
	<h4>Choose Assessment</h4>
	<br/>
  <span data-bind="text: myMessage"></span>
	<div class="card col-sm-6 mx-auto">
			<div class="card-body">
				<%= form_for :search, url: results_edit_all_path, method: :get do |f| %>
          <div class="form-group">
            <%= f.label "Course:" %><br />
            <%= collection_select(
              :search, :course_id, @courses, :id, :full_course_name, :prompt => true)%>
          </div>
        	<div class="form-group">
            <%= f.label "Unit assessed:" %><br />
            <%= f.select :unit_id, [], class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label "Students' Intake:" %><br />
            <%= f.select :intake, @intakes, class: "form-control" %>
          </div>
					<div class="form-group">
            <%= f.label "Exams for semester starting:"%><br />
            <%= collection_select(:search, :assessment_id, @assessments, :id, :full_semester_name) %>
          </div>
					<%= f.submit "Next", class: "btn btn-primary float-right"%>
				<% end %>
      </div>
  </div>
</div>