<div class="container">
	<h4><i class="far fa-file-alt"></i> Submit Results </h4>
	<br/>
	<div class="card col-sm-6 mx-auto">
    <div class="card-body">
      <h4 class="text-center"> Choose Assessment </h4>
      <br/>
      <%= form_for :search, url: results_edit_all_path, method: :get do |f| %>
        <div class="form-group">
          <%= f.label "Course:" %><br />
          <%= collection_select(
            :search, :course_id, @courses, :id, :full_course_name, :prompt => true)%>
        </div>
        <div class="form-group">
          <%= f.label "Unit assessed:" %><br />
          <%= f.select :unit_id, [], class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label "Students' Intake:" %><br />
          <%= f.select :intake, @intakes, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label "For semester starting:"%><br />
          <%= collection_select(:search, :assessment_id, @assessments, :id, :full_semester_name) %>
        </div>
        <br/>
        <%= button_tag(:class => "btn btn-primary float-right") do %>
          <i class='fas fa-arrow-right'></i> Next
        <% end %>
      <% end %>
    </div>
  </div>
</div>