<div class="container">
    <div class="row float-right">
      <%= link_to  "Create School", new_school_path, :class => "btn btn-primary"%>
      &nbsp;
      <%# <%= link_to  "Create Unit", new_unit_path, :class => "btn btn-primary"%> %>

    </div>
    <br/>
    <br/>
    <div class="row">
        <% @schools.each do |school|%>
            <div class="card">
                <div class="card-body">
                    <%= school.name %>
                </div >
                <%= link_to "Courses", school_courses_path(school), :class => "btn btn-sm btn-info" %>
                <%= link_to "Delete", school_path(school), method: :delete, :class => "btn btn-sm btn-danger" %>
            </div>
        <% end%>
    </div>
</div>