<div class="container">
  <div class = "card col-sm-6 mx-auto">
    <div class="card-body">
    <h4 class="text-center">Create School</h4>
    <br/>
    <%= render "shared/error_messages", resource: @school %>
    <%= form_for @school, url: schools_path do |f| %>
      <div class="form-group">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name" ,class: "form-control" %>
      </div>
      <br/>
      <%= button_tag(:class => "btn btn-primary float-right") do %>
        <i class='fas fa-plus'></i> Create School
      <% end %>
    <% end %>
    </div>
  </div>
</div>

