<div class="container">
	<h4><i class='fas fa-book-open'></i> Units for All Courses</h4>
	<br/>
  <table class="table table-bordered table-responsive-sm table-sm col-sm-6">
    <thead class="thead-light">
			<th>Code</th>
			<th>Name</th>
			<th></th>
		</thead>
		<tbody>
			<% @units.each do |unit| %>
				<tr>
					<td><%= unit.code%></td>
					<td><%= unit.name%></td>
          <td>
						<%= link_to edit_unit_path(unit), 
							:class => "btn btn-sm btn-outline-primary mx-sm-2" do %>
							<i class='far fa-edit'></i> Edit
						<% end %>
						<%= link_to unit_path(unit), 
							method: :delete, 
							data: { 
								confirm_swal: "Are you sure you want to delete unit #{unit.full_unit_name} from the system ?"
							}, 
							:class => "btn btn-sm btn-outline-danger" do %>
							<i class='far fa-trash-alt'></i> Delete
						<% end %>
					</td>
				</tr>
			<% end%>
		<tbody>
	<table>
	<br/>
	<% unless @units.empty? %>
		<div class="digg_pagination">
			<%= will_paginate @units %>
		</div>
	<% end %>
</div>