<!DOCTYPE html>
<html>
  <head>
    <title>FrontlearnAms</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('logo.png') %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless flash.empty? %>
          <% flash.each do |f| %>
          <div class="alert alert-danger" role="alert">
             <%= f[1]%>
          </div>
        <% end %>
    <% end %>
     <%= render "layouts/navbar" %>
      <br/>
    <%= yield %>
  </body>
</html>
